#navbar-image {
    height: 64px;
    width: auto;
    padding: 0;
    border: 0;

}
.jumbotron {

    background-image: url(../resources/landing-art.jpg);
    background-size: cover;
    margin-top: 4%;
    height: 100%;
}
#jumbotron-search-input {

}
.input-area {
    margin-top: 12%;
}
.jumbotron .h1 {
    color: rgb(50,2,50);
}
#navbar-custom {
    background: none;
    background-color: rgb(50,2,50);
}

#collapse-button {
    border-color: rgb(254,203,69);

}

#hamburger1 {
    background-color: rgb(50,2,50);
}
#hamburger1:hover {
    background-color: rgb(254,203,69);
}
#hamburger2 {
    background-color: rgb(254,203,69);
}

#hamburger3 {
    background-color: rgb(50,2,50);
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: rgb(254,203,69);
}
#btn-yellow {
    background-image: none;
    background-color: rgb(254,203,69);
    color: white;
}
#btn-yellow:hover{
    background-color: white;
    color: rgb(254,203,69);
}

#register-modal {
    margin-left:15%;
    margin-right:15%;
}
.register-modal-input {
    margin-bottom: 5%;
}
#register-modal-header {
    border-bottom: 0px;
}
#register-modal-footer {
    border-top: 0px;
}

#search-button:active {
    background-color: white;
}

.navbar-nav li a{
	color: rgb(254,203,69);
	font-family: 'Oswald', serif;
	font-size: 150%;
}
.gator-text {
    color:rgb(50,2,50);
}





.navbar-right .navbar-left {
	background-color: rgb(50,2,50);
}

.navbar-brand {
	background-color: rgb(50,2,50);
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
}
.navbar-toggle {
    z-index:3;
}
.brand-image {
	height: 64px;
	width: auto;
}


/*CSS Specific for Browse.html*/



.search-bar-span {
    border-right-style: groove;
    padding: 1em;
    padding-left: 5em;
    /* padding: 1em; */
    border-color: rgb(202,202,202);
}


#browse-search-bar {
    padding-left: .5em;
    padding-top: 5em;
    padding-bottom:1em;
    border-bottom: solid;
    border-bottom-color:rgb(202,202,202);
    background-color: rgb(244,244,244);
}

#browse-search-input {
    margin-left: 1em;
}

.custom-button-purple {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: rgb(50,2,50);
    border-color: #0044cc #0044cc #002a80;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.search-bar-span {
    border-right-style: groove;
    padding: 1em;

    /* padding: 1em; */
    border-color: rgb(202,202,202);
}

#left-most-span{
    padding-left: 5em;
}

#browsing-image-area {
    padding-top: 2em;
}
